{{- $is_wsl := false }}
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{- $is_wsl = true}}
{{   end }}
{{ end }}
{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $is_work := promptBoolOnce . "is_work" "Is this a work machine" -}}
{{- $work_email := "" -}}
{{- if $is_work -}}
{{-   $work_email = promptStringOnce . "work_email" "Work email" -}}
{{- end -}}
{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}
{{- $computerName := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $computerName = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}
sourceDir = "{{ .chezmoi.sourceDir -}}"
encryption = "age"

[age]
  identity = {{ joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" | quote }}
  recipient = "age17ngtqly39w3rgxne0f06f84ss8rq9qpk697vye9qqcywmutu9a2qum55v0"

[data]
  name = {{ $name | quote}}
  email =  {{ $email | quote }}
  is_wsl = {{ $is_wsl }}
  computer_name = {{ $computerName | quote }}
  os = {{ .chezmoi.os | quote }}
  is_work = {{ $is_work }}
  work_email = {{ $work_email | quote }}

[git]
  autoCommit = true

[edit]
    command = "zed"
    args = ["--wait"]
