{{- $is_wsl := false }}
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{- $is_wsl = true}}
{{   end }}
{{ end }}
{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}
{{- /* Initializes the name variable with a default value */ -}}
{{-   $name := promptStringOnce . "name" "Name" -}}
{{- /* Does the same for the email */ -}}
{{-   $email := promptStringOnce . "email" "Email" -}}
{{- $signingkey := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHGminsJAXUJkc7TH7qHU6RNdZuMcWIwdx+zZCDpDiUG" -}}
{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}
{{ $computerName := .chezmoi.hostname }}
{{- if eq .chezmoi.os "darwin" -}}
{{ $computerName = output "scutil" "--get" "ComputerName" | trim }}
{{ end -}}
sourceDir = "{{ .chezmoi.sourceDir }}"
[data]
  name = {{ $name | quote}}
  email =  {{ $email | quote }}
  is_wsl = {{ $is_wsl }}
  computer_name = {{ $computerName | quote }}
  os = {{ .chezmoi.os | quote }}
  signingkey = {{ $signingkey | quote }}

[git]
  autoCommit = true
  
[edit]
    command = "code"
    args = ["--wait"]