{{- if eq .chezmoi.os "darwin" }}
tap "1password/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/command-not-found"
tap "homebrew/core"
brew "antigen"
brew "bat"
brew "chezmoi"
brew "dnscontrol"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "git"
brew "glow"
brew "unbound"
brew "gnutls"
brew "gnupg"
brew "go"
brew "hub"
brew "hugo"
brew "jq"
brew "lazygit"
brew "nano"
brew "pinentry-mac"
brew "starship"
brew "ykpers"
brew "zola"
brew "zoxide"
cask "1password-cli"
cask "font-iosevka"
cask "font-iosevka-aile"
cask "raycast"
cask "unnaturalscrollwheels"
{{- end }}