# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
Include ~/.ssh/config.d/*

Host unifi
    SetEnv TERM=xterm-256color

Host *
	AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes
{{- end }}
